PROJECT_NAME=SchemaMindBackend
VERSION=1.0.0
ENV=development
DEBUG=True

SECRET_KEY=ScemaMindProjectForPractice
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALLOWED_ORIGINS='["http://localhost:3000","http://localhost:5173","http://127.0.0.1:3000"]'
DB_CREDENTIAL_ENCRYPTION_KEY=enter_credential_key

# Main DB Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345
POSTGRES_DB=schema_mind_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# LLM
DEFAULT_LLM_MODE=online
GEMINI_API_KEY=your_google_gemini_api_key
GEMINI_MODEL=gemini-2.5-flash
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=qwen2.5:3b
OLLAMA_TIMEOUT=60